* {
	font-size: 12px;
	font-family: Arial, Helvetica;
}
body {
	margin: 0px 5px 0px 5px;
}
fieldset {
    border: 1px solid #999999;
    margin: 0px 0px 10px 0px;
}
#header {
	width: 100%;
	background-color: #8b2112;
}
#logo {
	padding: 0px 0px 0px 10px;
}
#languageSelector {
	text-align: right;
        vertical-align: top;
	padding: 3px 7px 0px 0px;
        width: 200px;
}
#languageSelector a {
	font-size: 10px;
	color: #fe9832;
	text-decoration: none;
}
#languageSelector a:hover {
	text-decoration: underline;
}
#topCenter {
    width: 100%;
    vertical-align: top;
    text-align: right;
    color: #FFFFFF;
    font-weight: bold;
    padding: 3px 20px 0px 0px;
}
#topCenter a {
    color: #FFFFFF;
}
#footer {
	width: 100%;
	background-color: #8b2112;
}
#footer td {
	color: #fe9832;
	font-size: 10px;
}
#footerRight {
	text-align: right;
	padding: 0px 7px 0px 0px;
}
#topMenu {
	width: 100%;
	border-collapse: collapse;
}
#topMenu td {
	background-image: url('../pics/topMenuBg.png');
	background-position: top;
	background-repeat: repeat-x;
	white-space: nowrap;
	font-weight: bold;
	padding: 5px 10px 5px 10px;
	border-top: 1px solid #e09833;
	border-right: 1px solid #cf7200;
	border-bottom: 2px solid #dda55e;
}
#topMenu td a {
	color: #000000;
	text-decoration: none;
}
#topMenu td.highlight a {
	color: #ffffff;
}
#topMenu td a:hover {
	color: #ffffff;
	text-decoration: underline;
}

#leftMenu {
	width: 150px;
	border: 1px solid #cfcfcf;
}
#leftMenuHeader {
	background-image: url('../pics/tableHeaderBg1.png');
	background-position: top;
	background-repeat: repeat-x;
        padding: 2px 5px 3px 7px;
        font-weight: bold;
        color: #ffffff;
}
#leftMenu div.menu2 {
        padding: 2px 5px 3px 10px;
        font-weight: bold;
}
#leftMenu div.menu2Current {
    padding: 2px 5px 3px 10px;
    font-weight: bold;
    background-color: #eeeeee;
}
#leftMenu div.menu3 {
    padding: 2px 5px 3px 20px;
}
#leftMenu div.menu3Current {
    padding: 2px 5px 3px 20px;
    font-weight: bold;
}
#leftMenu a {
        text-decoration: none;
        color: #333333;
}
#leftMenu a:hover {
        text-decoration: underline;
}

table.table1, table.table2 {
    border-collapse: collapse;
    border: 1px solid #cfcfcf;
    height: 100%;
}
table.table1 td, table.table2 td {
        padding: 2px 5px 3px 3px;
        vertical-align: top;
}
table.table1 tr.header td,  table.table2 tr.header td{
	background-position: top;
	background-repeat: repeat-x;
        padding: 2px 5px 3px 7px;
        font-weight: bold;
        color: #ffffff;
}
table.table1 tr.body td,  table.table2 tr.body td{
    height: 100%;
}
table.table1 tr.header td{
	background-image: url('../pics/tableHeaderBg1.png');
}
table.table2 tr.header td{
	background-image: url('../pics/tableHeaderBg2.png');
}


#projectCodeForm {
    border-collapse: collapse;
    border: 1px solid #cfcfcf;
    margin-bottom: 10px;
}
#projectCodeForm tr.header td {
	background-image: url('../pics/tableHeaderBg2.png');
	background-position: top;
	background-repeat: repeat-x;
        padding: 2px 5px 3px 7px;
        font-weight: bold;
        color: #ffffff;
}
#projectCodeForm td {
   vertical-align: top;
   padding: 0px;
}
#projectCodeFormGrid td {
     padding: 0px 10px 3px 0px;
}


table.timeSheetGrid {
    border-collapse: collapse;
}
table.timeSheetGrid td {
    border: 1px solid #999999;
    min-width: 15px;
    padding: 1px 3px 1px 3px;
}
table.timeSheetGrid tr.tsHeader td {
    font-weight: bold;
    background-color: #f3f3f3;
}
table.timeSheetGrid tr.tsHeader td.holyday {
    background-color: #ffdddd;
}
table.timeSheetGrid tr.total td {
    font-weight: bold;
    background-color: #f3f3f3;
}
table.timeSheetGrid tr.total td.holyday {
    background-color: #ffdddd;
}
table.timeSheetGrid tr.pc td {
    font-weight: bold;
    background-color: #dddddd;
}
table.timeSheetGrid tr.pc td.holyday {
    background-color: #ffdddd;
}
table.timeSheetGrid tr.tt td {
    background-color: #f3f3f3;
    font-weight: bold;
}
table.timeSheetGrid tr.tt td.holyday {
    background-color: #ffdddd;
}
table.timeSheetGrid tr.t td {
    cursor: pointer;
}
table.timeSheetGrid tr.t:hover td {
    background-color: #ddffdd;
}
table.timeSheetGrid td.holyday {
    background-color: #ffdddd;
}
table.timeSheetGrid td.sum {
    background-color: #dddddd;
}


table.datagrid {
    border-collapse: collapse;
    margin-bottom: 7px;
}
table.datagrid td {
    padding: 2px 3px 2px 3px;
    border: 1px solid #999999;
}
table.datagrid tr.dgHeader td {
    background-color: #dddddd;
    font-weight: bold;
}
table.datagrid tr.dgHighlight td {
    background-color: #f3f3f3;
    font-weight: bold;
}
table.datagrid td.dgHighlight {
    background-color: #f3f3f3;
    font-weight: bold;
}
table.datagrid tr.selected td {
    background-color: #ddffdd;
}
table.nowrap td {
    white-space: nowrap;
}
span.link {
    text-decoration: underline;
    cursor: pointer;
    padding: 0px 3px 0px 3px;
}




div.selector {
    border: 1px solid #999999;
    overflow: auto;
}
div.selector div {
    cursor: pointer;
}
div.selector div.selected {
    background-color: #dddddd;
}

span.error {
    font-weight: bold;
    color: #ff0000;
}
span.comment1,
div.comment1 {
    font-size: 10px;
    color: #999999;
    font-style: italic;
}
span.comment2 {
    font-size: 10px;
    color: #009900;
}
span.label1 {
    font-size: 12px;
    font-weight: bold;
}
label, legend {
    font-size: 12px;
    font-weight: bold;
}